.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none !important;
    width: 100% !important;
    background: transparent !important;
}
.toolbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.header.light {
    color: #000000;
}
.header.dark {
    color: #ffffff;
}
.logo {
    font-size: 20px;
    font-weight: bold;
}

.title {
    font-size: 20px;
    text-align: center;
    flex-grow: 1;
}
.links{
    display: flex;
    gap: 40px;
    font-size: 20px;
    font-weight: 700;

}
.links > p{
    font-size: 14px;
}
.search input {
    padding: 5px;
    font-size: 16px;
}

.search{
    margin-top: 4px;
}
.icon {
    stroke: currentColor;
}
.util{
    display: flex;
    align-items: center;
    gap: 10px;
}
